.login{
    text-decoration: none;
    text-align: center;
    padding-top: 7px;
}

.login:hover{
    color: white;
}

.hero-productos:hover{
    color: white;
}

/* Menú responsivo para dispositivos móviles */
@media (max-width: 768px) {

    .navbar{
        overflow: hidden;

        }
  
}




