

.tendencias{
    text-align: center;
    background-color:#a56329 ;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 100px;
}

        /*peliculassssssssssssssssssssss*/
        .hola{
            /*width:80%;
            margin: 0 auto;*/
            text-align: center;
            margin-top: 2px;
            background-color:wheat;/* gray;*/
            padding: 50px;
            margin-bottom:2px ;
            border-radius: 10px;
            margin: 10px;
        } 

        .tituloSection{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 40px;
        }
    
        .artprodut{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap:60px;
        }
        
        a{
            text-decoration: none;
            /*color: #ffffff;*/
        } 

        .elemprod{
            width:200px;
            height: 300px;
            position: relative;
            /*overflow: hidden; /*escondo el titulo de las peliculas*/
            border-radius: 10px;
            transition: all 0.5s ease;


            &:hover{   /*este hover es super importante*/
                box-shadow: 0 0 30px #633106;
                transform: scale(0.9);   /*los hover que estan colocados asi es porque de la manera normal no me anduvo*/
            } 
            
            }
    



            .imgTendencia{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }

            .tituloProart{
                z-index: 2;
                position: absolute;
                text-align: center; /*centro el texto*/
                top: 50%;
                left: 50%;
                max-width: 20rem;
                width: 100%;
                transform: translateY(-50%) translateX(-50%);
            } 
            
                
                .tituloProart:hover{
                    width: 100%;
                    height: 100%;
                    backdrop-filter: blur(20px); /*esto es para el efecto hover*/
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
            


            h4 {
                font-size: 1.6rem;
                font-weight: bold;
                opacity: 0; /*con esto oculto el */
                margin-bottom: 0.5rem;
                /*transition: opacity 0.5s;*/
                color: black;
            }
            h4:hover {
                width: 100%;
                padding: 0.5rem;
                opacity: 1;
            }


.sectitu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.secton{
    display: flex;
    gap: 20px;
    
}

.ft{
    font-size: 16px;
}


.conmaytt{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    /*background-color: #a56329;*/
}

.fa-envelope{
    padding-right: 20px;
}

.fa-facebook-f{
    padding-right: 20px;
}

footer{
    background-color: #a56329;
    padding: 20px;
    color: white;
}


/* Menú responsivo para dispositivos móviles */
@media (max-width: 768px) {

    
.conmaytt{
    display: flex;
    flex-direction: column;
    /*background-color: #a56329;*/
}

.fa-envelope{
    padding-top: 40px;
    padding-bottom: 40px;
}

.fa-facebook-f{
    padding-top: 40px;
    padding-bottom: 40px;
}

.fa-instagram{
    padding-top: 40px;
    padding-bottom: 40px;
}

}