body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;


    /* background: url(./istockphoto-1309646840-612x612.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;*/
}

.register-container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #c2920d;
    border-radius: 10px;
}

.register-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color:  #007bff;/* #28a745;*/
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(101, 186, 240);/* #218838;*/
}





.input-group.terms {
    display: flex;
    align-items: center;
    padding: 10px;
}

.input-group.terms input {
    width: auto;
    margin-right: 10px;
}

.input-group.terms label {
    display: inline;
    font-weight: normal;
}

.input-group.terms a {
    color: #007bff;
    text-decoration: none;
}

.input-group.terms a:hover {
    text-decoration: underline;
}

.restrer{
    margin: 10px;
}

a{
    text-decoration: none;
    color: white;
}