/* Global */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #faf6ec;
    color: #371911;
}
/* /Global */

/* Navbar */
.navbar {
    background: #a56329;
    padding: 1rem 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-items,
.navbar-perfil {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar-items a {
    text-decoration: none;
    color: #faf6ec;
    transition: color .3s ease-out;
    font-weight: bold;
    font-size: 20px;
}

.user {
    text-decoration: none;
    color: #faf6ec;
    transition: color .3s ease-out;
    font-weight: bold;
    height: 42px;
    padding: 0 1rem;
    background: #CF9440;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-items a:hover,
.user:hover {
    color: #f3e8ce;
}

.login {
    border: none;
    height: 42px;
    width: 180px;
    font-size: 20px;
    background: #CF9440;
    color: #faf6ec;
    font-weight: bold;
    cursor: pointer;
    transition: background .3s ease-out;
}

.login:hover {
    background: #c07f32;
}

#userContent {
    position: relative;
}

.login-dropdown {
    background: #CF9440;
    font-size: 20px;
    display: none;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 42px;
    left: 0;
    width: 180px;
}

.login-dropdown a {
    text-decoration: none;
    color: #faf6ec;
    font-weight: bold;
    transition: background .3s ease-out;
    height: 42px;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-dropdown a:hover {
    background: #c07f32;
}

.login-dropdown.active {
    display: flex;
}

.bx-menu {
    font-size: 40px;
    display: none !important;
    cursor: pointer;
}
/* Navbar */
/* Hero */
.hero{
    background: url(../images/38269_38269_38269_38269_almacen-anticuarios-artesanias-colombia-2021-g2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
}

.hero-content {
    padding: 0 56px;
    background: rgba(55, 25, 17, .75);
    color: #f3e8ce;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.hero-productos {
    text-decoration: none;
    background: #cf9440;
    width: 160px;
    color: #f3e8ce;
    height: 42px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .3s ease-out;
}

.hero-productos:hover {
    background: #c07f32;
}
/* /Hero */

/* Mobile design */
@media(max-width: 375px){
    .bx-menu {
        display: block !important;
    }
    
    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem 29px;
        height: 72px;
        overflow: hidden;
        flex-direction: column;
        align-items: initial;
        gap: 1rem;
        transition: height .3s ease-out;
    }

    .navbar.active {
        height: 277px;
    }

    .navbar-nav {
        flex-direction: column;
        gap: 1rem;
    }

    .navbar-items {
        flex-direction: column;
    }

    .navbar-perfil {
        flex-direction: column;
    }

    main {
        margin-top: 72px;
    }

    .hero-content {
        padding: 0 29px;
    }
}