/* Global */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #faf6ec;
    color: #371911;
}
/* /Global */

/* Hero */
.hero{
    background: url(../images/38269_38269_38269_38269_almacen-anticuarios-artesanias-colombia-2021-g2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
}

.hero-content {
    padding: 0 56px;
    background: rgba(55, 25, 17, .75);
    color: #FAF6EC;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.hero-title {
    font-size: 36px;
}

.hero-text {
    font-size: 20px;
}

.hero-productos {
    display: flex;
}

.hero-btn {
    text-decoration: none;
    background: #cf9440;
    width: 178px;
    color: #f3e8ce;
    height: 48px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .3s ease-out;
}

.hero-btn:hover {
    background: #c07f32;
}
/* /Hero */

/* Laptop design */
@media(min-width: 769px) and (max-width: 1024px){
    .hero-content {
        padding: 0 40px;
    }
}

/* Mobile design */
@media(max-width: 768px){
    main {
        margin-top: 72px;
    }

    .hero-content {
        padding: 0 12px;
    }

    .hero-title {
        font-size: 28px;
    }

    .hero-text {
        font-size: 1rem;
    }

    .hero-btn {
        font-size: 1rem;
        height: 42px;
        width: 160px;
    }
}