/* Global */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f3e8ce;
    color: #371911;
}
/* /Global */

/* Productos */
.productos {
    min-height: 100vh;
    padding: 0 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.productos-search {
    padding: 1rem 0;
    display: flex;
    align-items: end;
}

.search-group {
    display: flex;
    flex-direction: column;
}

.search-group label {
    font-size: 20px;
}

.search-group input {
    height: 48px;
    width: 320px;
    padding: 0 1rem;
    border-radius: .5rem 0 0 .5rem;
    border: 1px solid #606060;
}

.search-button {
    height: 48px;
    padding: 0 1rem;
    font-weight: bold;
    font-size: 20px;
    color: #faf6ec;
    background: #cf9440;
    border: none;
    border-radius: 0 .5rem .5rem 0;
    cursor: pointer;
    transition: background .3s ease-out;
}

.search-button:hover {
    background: #c07f32;
}

.productos-content {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
}

.productos-shadow {
    height: 265px;
}

.productos-filtros {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bx-filter {
    display: none !important;
}

.filtros-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filtros-header h1 {
    font-size: 24px;
}

.filtros-header span {
    color: #DBB169;
    font-size: 20px;
}

.filtros-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filtros-title {
    font-size: 20px;
}

.filtros-group {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.filtros-group label {
    font-size: 20px;
}

.filtros-group input {
    width: 20px;
    height: 20px;
}

.productos-cards {
    max-width: 992px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.card-group {
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
}

.card-image {
    width: 100%;
    height: 100%;
    display: flex;
}

.card-group img {
    width: 100%;
    object-fit: contain;
}

.card-content {
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
}

.card-content a {
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #CF9440;
}

.card-content h3 {
    font-size: 24px;
}

.card-content span {
    font-weight: bold;
    font-size: 20px;
}
/* /Productos */

/* Laptop design */
@media(min-width: 769px) and (max-width: 1024px){
    .productos {
        padding: 0 40px;
    }

    .search-group label {
        font-size: 18px;
    }

    .search-button {
        font-size: 18px;
    }

    .productos-content {
        width: 100%;
    }

    .productos-shadow {
        height: 235px;
    }

    .productos-filtros {
        width: 160px;
    }

    .filtros-header h1 {
        font-size: 20px;
    }

    .filtros-header span {
        font-size: 1rem;
    }

    .filtros-title {
        font-size: 1rem;
    }

    .filtros-group label {
        font-size: 1rem;
    }

    .card-group {
        width: 160px;
    }

    .card-content a {
        font-size: 14px;
    }

    .card-content h3 {
        font-size: 18px;
    }

    .card-content span {
        font-size: 1rem;
    }
}

/* Mobile design */
@media(max-width: 768px){
    main {
        margin-top: 72px;
    }

    .productos {
        padding: 0 12px;
    }

    .productos-search {
        width: 308px;
    }

    .search-group {
        width: 100%;
    }

    .search-group label {
        font-size: 1rem;
    }

    .search-group input {
        width: 100%;
        height: 42px;
    }

    .search-button {
        font-size: 1rem;
        height: 42px;
    }

    .productos-shadow {
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        transition: background .3s ease-out;
    }

    .productos-shadow.active {
        background: rgba(0, 0, 0, .5);
        width: 100%;
    }

    .productos-filtros {
        background: #a56329;
        padding: 0;
        color: #FAF6EC;
        width: 0;
        overflow: hidden;
        justify-content: center;
        height: 100%;
        transition: width .3s ease-out;
    }

    .productos-filtros.active {
        padding: 0 12px;
        width: 250px;
    }

    .bx-filter {
        display: inline !important;
        font-size: 40px;
        height: 40px;
        cursor: pointer;
    }

    .filtros-header h1 {
        font-size: 18px;
    }

    .filtros-header span {
        font-size: 1rem;
    }

    .filtros-title {
        font-size: 1rem;
    }

    .filtros-group input {
        width: 1rem;
        height: 1rem;
    }

    .filtros-group label {
        font-size: 1rem;
    }

    .card-group {
        width: 240px;
    }

    .card-content a {
        font-size: 14px;
    }

    .card-content h3 {
        font-size: 18px;
    }

    .card-content span {
        font-size: 1rem;
    }
}

@media(max-width: 425px){
    .productos-cards {
        justify-content: center;
    }
}