/* Global */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f3e8ce;
    color: #371911;
}
/* /Global */

/* Navbar */
.navbar {
    background: #a56329;
    padding: 1rem 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-items,
.navbar-perfil {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar-items a {
    text-decoration: none;
    color: #faf6ec;
    transition: color .3s ease-out;
    font-weight: bold;
    font-size: 20px;
}

.user {
    text-decoration: none;
    font-size: 20px;
    color: #faf6ec;
    transition: color .3s ease-out;
    font-weight: bold;
    height: 42px;
    padding: 0 1rem;
    background: #CF9440;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-items a:hover,
.user:hover {
    color: #f3e8ce;
}

.login {
    border: none;
    height: 42px;
    width: 180px;
    font-size: 20px;
    background: #CF9440;
    color: #faf6ec;
    font-weight: bold;
    cursor: pointer;
    transition: background .3s ease-out;
}

.login:hover {
    background: #c07f32;
}

#userContent {
    position: relative;
}

.login-dropdown {
    background: #CF9440;
    font-size: 20px;
    width: 180px;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height .3s ease-out;
}

.login-dropdown a {
    text-decoration: none;
    color: #faf6ec;
    font-weight: bold;
    height: 42px;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    transition: background .3s ease-out;
}

.login-dropdown a:hover {
    background: #c07f32;
}

.login-dropdown.active {
    height: 84px;
}

.bx-menu {
    font-size: 40px;
    display: none !important;
    cursor: pointer;
}
/* Navbar */

/* Productos */
.productos {
    min-height: 100vh;
    padding: 0 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.productos-search {
    padding: 1rem 0;
    display: flex;
    align-items: end;
}

.search-group {
    display: flex;
    flex-direction: column;
}

.search-group input {
    height: 42px;
    width: 320px;
    padding: 0 1rem;
    border-radius: .5rem 0 0 .5rem;
    border: 1px solid #606060;
}

.search-button {
    height: 42px;
    padding: 0 2rem;
    font-weight: bold;
    color: #faf6ec;
    background: #cf9440;
    border: none;
    border-radius: 0 .5rem .5rem 0;
    cursor: pointer;
    transition: background .3s ease-out;
}

.search-button:hover {
    background: #c07f32;
}

.productos-content {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
}

.productos-filtros {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bx-filter {
    display: none !important;
}

.filtros-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filtros-header h1 {
    font-size: 20px;
}

.filtros-header span {
    color: #DBB169;
}

.filtros-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filtros-title {
    font-size: 1rem;
}

.filtros-group {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.filtros-group input {
    width: 20px;
    height: 20px;
}

.productos-cards {
    max-width: 992px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.card-group {
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
}

.card-image {
    width: 100%;
    height: 100%;
    display: flex;
}

.card-group img {
    width: 100%;
    object-fit: contain;
}

.card-content {
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
}

.card-content a {
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: #CF9440;
}

.card-content h3 {
    font-size: 1rem;
}

.card-content span {
    font-weight: bold;
}
/* /Productos */

/* Tablet design */
@media(min-width: 551px) and (max-width: 768px){
    /* Navbar */
    .navbar {
        padding: 1rem 2rem;
    }

    .navbar-items a {
        font-size: 1rem;
    }

    .user {
        font-size: 1rem;
    }
    /* /Navbar */

    .productos {
        padding: 0 2rem;
    }

    .productos-filtros {
        min-width: 224px;
    }

    .productos-cards {
        max-width: 464px;
    }

    .card-group {
        width: 224px;
    }
}

/* Mobile design */
@media(max-width: 550px){
    /* Navbar */
    .bx-menu {
        display: block !important;
    }
    
    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 72px;
        overflow: hidden;
        padding: 1rem 29px;
        flex-direction: column;
        justify-content: start;
        align-items: initial;
        gap: 1rem;
        transition: height .3s ease-out;
    }

    .navbar.active {
        height: 380px;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }

    .navbar-items {
        flex-direction: column;
    }

    .navbar-items a {
        font-size: 1rem;
    }

    .navbar-perfil {
        flex-direction: column;
    }

    .login {
        font-size: 1rem;
    }

    .login-dropdown a {
        font-size: 1rem;
    }

    .user {
        font-size: 1rem;
    }
    /* /Navbar */

    main {
        margin-top: 72px;
    }

    .productos {
        padding: 0 29px;
    }

    .productos-search {
        width: 100%;
    }

    .search-group {
        width: 100%;
    }

    .search-group input {
        width: 100%;
    }

    .productos-shadow {
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        transition: background .3s ease-out;
    }

    .productos-shadow.active {
        background: rgba(0, 0, 0, .5);
        width: 100%;
    }

    .productos-filtros {
        background: #a56329;
        padding: 0;
        color: #FAF6EC;
        width: 0;
        overflow: hidden;
        justify-content: center;
        height: 100%;
        transition: width .3s ease-out;
    }

    .productos-filtros.active {
        padding: 0 29px;
        width: 250px;
    }

    .bx-filter {
        display: inline !important;
        font-size: 40px;
        height: 40px;
        cursor: pointer;
    }

    .filtros-group {
        width: 1rem;
        height: 1rem;
    }

    .productos-cards {
        justify-content: center;
    }

    .card-group {
        width: 240px;
    }
}